@font-face {
  font-family: "Italiana";
  src: url("/fonts/Italiana-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background: #f7f2e9;
  color: #17140f;
}
